@import 'open-props/style';

:root {
	color-scheme: light dark;

	/* Theme */
	--theme-color: light-dark(var(--gray-12), var(--gray-1));
	--theme-background: light-dark(var(--gray-1), var(--gray-12));
	--theme-header: light-dark(var(--gray-4), var(--gray-10));
	--theme-sidebar: light-dark(var(--gray-3), var(--gray-9));

	/* Colors */
	--theme-primary: light-dark(var(--blue-8), var(--blue-8));
	--theme-secondary: light-dark(var(--stone-8), var(--stone-8));
	--theme-white: light-dark(var(--gray-1), var(--gray-1));
	--theme-warning: light-dark(var(--yellow-8), var(--yellow-8));
	--theme-success: light-dark(var(--green-8), var(--green-8));
	--theme-error: light-dark(var(--red-8), var(--red-8));
	
	/* Hovers */
	--theme-primary-hover: light-dark(var(--blue-9), var(--blue-9));
	--theme-secondary-hover: light-dark(var(--stone-9), var(--stone-9));
	--theme-white-hover: light-dark(var(--gray-2), var(--gray-2));
	--theme-warning-hover: light-dark(var(--yellow-9), var(--yellow-9));
	--theme-success-hover: light-dark(var(--green-9), var(--green-9));
	--theme-error-hover: light-dark(var(--red-9), var(--red-9));
	--theme-default-hover: light-dark(var(--stone-9), var(--stone-9));

	/* Layers */
	--theme-default-layer: light-dark(var(--gray-2), var(--gray-7));
	--theme-primary-layer: light-dark(var(--blue-6), var(--blue-8));
	--theme-error-layer: light-dark(var(--red-6), var(--red-8));
	--theme-warning-layer: light-dark(var(--yellow-6), var(--yellow-8));
}

body {
	margin: 0;
	padding: 0;
	height: 100vh;
	font-family: var(--font-system-ui);
	background-color: var(--theme-background);
	color: var(--theme-color);
	overflow: hidden;
	transition: background-color 300ms ease-in-out;

	&.loading {
		display: grid;
		justify-items: center;
		align-items: center;

		app-root {
			display: none;
		}
	}
}

.theme-dark {
	color-scheme: dark;
}

.theme-light {
	color-scheme: light;
}

.loader {
	width: 48px;
	height: 48px;
	border-radius: 50%;
	display: inline-block;
	position: relative;
	border: 3px solid;
	border-color: var(--theme-color) var(--theme-color) transparent transparent;
	box-sizing: border-box;
	animation: loaderRotation 1s linear infinite;

	&::after,
	&::before {
		content: '';
		box-sizing: border-box;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin: auto;
		border: 3px solid;
		border-color: transparent transparent var(--theme-primary) var(--theme-primary);
		width: 40px;
		height: 40px;
		border-radius: 50%;
		box-sizing: border-box;
		animation: loaderRotationBack 0.5s linear infinite;
		transform-origin: center center;
	}

	&::before {
		width: 32px;
		height: 32px;
		border-color: var(--theme-color) var(--theme-color) transparent transparent;
		animation: loaderRotation 1.5s linear infinite;
	}
}

@keyframes loaderRotation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
@keyframes loaderRotationBack {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(-360deg);
	}
}
