@import 'open-props/style';

:root {
	color-scheme: light dark;

	/* Elements */
	--theme-header-background: light-dark(var(--gray-4), var(--gray-10));
	--theme-sidebar-background: light-dark(var(--gray-3), var(--gray-9));

	/* Backgrounds */
	--theme-default-background: light-dark(var(--gray-1), var(--gray-12));
	--theme-primary-background: light-dark(var(--blue-8), var(--blue-8));
	--theme-secondary-background: light-dark(var(--stone-8), var(--stone-8));
	--theme-warning-background: light-dark(var(--yellow-8), var(--yellow-8));
	--theme-success-background: light-dark(var(--green-8), var(--green-8));
	--theme-error-background: light-dark(var(--red-8), var(--red-8));

	/* Colors */
	--theme-default-color: light-dark(var(--gray-12), var(--gray-1));
	--theme-primary-color: light-dark(var(--blue-8), var(--blue-8));
	--theme-secondary-color: light-dark(var(--stone-8), var(--stone-8));
	--theme-white-color: light-dark(var(--gray-1), var(--gray-1));
	--theme-dark-color: light-dark(var(--gray-12), var(--gray-12));
	--theme-warning-color: light-dark(var(--yellow-8), var(--yellow-8));
	--theme-success-color: light-dark(var(--green-8), var(--green-8));
	--theme-error-color: light-dark(var(--red-8), var(--red-8));
	
	/* Hovers */
	--theme-default-hover: light-dark(var(--stone-7), var(--stone-7));
	--theme-primary-hover: light-dark(var(--blue-7), var(--blue-7));
	--theme-secondary-hover: light-dark(var(--stone-7), var(--stone-7));
	--theme-white-hover: light-dark(var(--gray-2), var(--gray-2));
	--theme-dark-hover: light-dark(var(--gray-11), var(--gray-11));
	--theme-warning-hover: light-dark(var(--yellow-7), var(--yellow-7));
	--theme-success-hover: light-dark(var(--green-7), var(--green-7));
	--theme-error-hover: light-dark(var(--red-7), var(--red-7));

	/* Layers */
	--theme-default-layer: light-dark(var(--gray-2), var(--gray-7));
	--theme-inverse-layer: light-dark(var(--gray-10), var(--gray-1));
	--theme-primary-layer: light-dark(var(--gray-10), var(--gray-1));
	--theme-info-layer: light-dark(var(--blue-7), var(--blue-7));
	--theme-error-layer: light-dark(var(--red-8), var(--red-8));
	--theme-warning-layer: light-dark(var(--yellow-8), var(--yellow-8));
	--theme-success-layer: light-dark(var(--green-8), var(--green-8));
}

body {
	margin: 0;
	padding: 0;
	height: 100vh;
	box-sizing: border-box;
	font-family: var(--font-system-ui);
	font-size: var(--font-size-1);
	background-color: var(--theme-default-background);
	color: var(--theme-default-color);
	overflow: hidden;
	transition: background-color 300ms ease-in-out;

	&.initializing {
		display: grid;
		justify-items: center;
		align-items: center;

		app-root {
			display: none;
		}
	}
}

.theme-dark {
	color-scheme: dark;
}

.theme-light {
	color-scheme: light;
}

/* Initial loader */
.initializing-loader {
	width: 48px;
	height: 48px;
	border-radius: 50%;
	display: inline-block;
	position: relative;
	border: 3px solid;
	border-color: var(--theme-default-color) var(--theme-default-color) transparent transparent;
	box-sizing: border-box;
	animation: loaderRotation 1s linear infinite;

	&::after,
	&::before {
		content: '';
		box-sizing: border-box;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin: auto;
		border: 3px solid;
		border-color: transparent transparent var(--theme-primary-color) var(--theme-primary-color);
		width: 40px;
		height: 40px;
		border-radius: 50%;
		box-sizing: border-box;
		animation: loaderRotationBack 0.5s linear infinite;
		transform-origin: center center;
	}

	&::before {
		width: 32px;
		height: 32px;
		border-color: var(--theme-default-color) var(--theme-default-color) transparent transparent;
		animation: loaderRotation 1.5s linear infinite;
	}
}

@keyframes loaderRotation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes loaderRotationBack {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(-360deg);
	}
}
